* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

:root {
    --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }

  body {
    font-family: var(--default-font);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
    background: rgb(40,122,238);
    background: linear-gradient(90deg, rgba(40,122,238,1) 14%, rgba(49,199,224,1) 94%);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    opacity: .9;
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"] {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
}
button {
    padding: 10px;
    font-size: 18px;
    background-color: #47b2e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}
button:hover {
    background-color: #0056b3;
}

/* Password requirements box */
.password-requirements {
    display: none;
    text-align: left;
    margin-top: 5px;
}
.password-requirements.active {
    display: block;
}
.password-requirements li {
    list-style-type: none;
    margin: 5px 0;
}
.password-requirements li .icon {
    font-size: 18px;
    margin-right: 10px;
}
.password-requirements li.valid .icon {
    color: green;
}
.password-requirements li.invalid .icon {
    color: red;
}

/* Style for the "view password" icon */
.password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: 100%;
}
.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style for "password mismatch" warning */
.mismatch-warning {
    color: red;
    display: none;
    font-size: 14px;
}